<% breadcrumb :zoo %>
<div class="flex flex-col justify-center text-center zoo_image text-primary font-zoo">
  <h1 class="text-4xl pt-28 pb-20">動物園詳細</h1>
  <div class="pb-28">
    <h2 class="text-xl lg:text-2xl pb-10">名称<br>
                                          <%= @zoo.name %></h2>
    <div class="link link-primary text-2xl font-bold pb-10">
      <%= link_to "公式HP", @zoo.link, target: :_blank, rel: "noopener noreferrer" %>
    </div>
    <h2 class="text-base lg:text-2xl">所在地<br>
                                          <%= @zoo.location %></h2>
  </div>
</div>
