<div class="zoo_image items-center text-center justify-center">
  <div class="pb-16">
    <%= image_tag "top1.jpg", alt: "ecommerce", class: "w-full" %>
  </div>
  <div class="text-3xl py-20 font-zoo link link-primary"><%= link_to "動物園一覧", zoos_path %></div>
  <div class="text-3xl py-20 font-zoo link link-primary"><%= link_to "動物園日本地図", map_zoos_path %></div>
  <div class="text-3xl pt-20 pb-48 font-zoo link link-primary"><%= link_to "おすすめの動物園", recommend_zoos_path %></div>
</div>
