<% breadcrumb :zoo_top %>
<div class="zoo_image items-center text-center justify-center pb-20">
  <div class="pb-20">
    <%= image_tag "zoo_top.jpg", alt: "ecommerce", class: "w-full" %>
  </div>
  <div class="text-3xl mb-20 font-zoo link link-primary"><%= link_to "動物園一覧", zoos_path %></div>
  <div class="text-3xl mb-20 font-zoo link link-primary"><%= link_to "動物園日本地図", map_zoos_path %></div>
  <div class="text-3xl font-zoo link link-primary"><%= link_to "おすすめの動物園", recommend_zoos_path %></div>
</div>
