<% breadcrumb :manga %>
<section class="manga_image font-manga text-white bg-black items-center justify-center text-center pt-20 pb-10">
  <div class="lg:text-4xl text-3xl pb-10">コミックレコメンドロボ</div>
  <div class="text-2xl">読みたい漫画のジャンルを選択してください。</div>
  <div class="text-2xl">そのジャンルの中からおすすめの漫画をロボが選んでくれます。</div>
  <div class="container mx-auto">
    <div class="flex flex-wrap justify-center">
      <% @genres.each do |genre| %>
        <%= link_to genre, mangas_path(genre: genre), class: 'btn btn-primary text-white lg:text-3xl text-base m-10' %>
      <% end %>
    </div>
  </div>
</section>
