<% breadcrumb :manga %>
<div class="manga_image font-manga text-white bg-black items-center justify-center text-center py-20">
  <div class="text-4xl pb-10">漫画ファインダー</div>
  <%= image_tag "manga_robot.webp", class: "mx-auto pb-10" %>
  <div class="text-xl lg:mx-20 mx-4 pb-10">
    <%= @recommendation %>
  </div>
  <div><%= link_to "https://twitter.com/share?url=https://www.kumalab.top/mangas/genre/&text=#{@genre}漫画としてキングダムをオススメされた！%0A&hashtags=漫画ファインダー", class: 'link link-secondary text-xl', target: :_blank, rel: "noopener noreferrer" do %>
    Twitterで共有する
  <% end %></div>
</div>
