<div class="devil_fruit_image text-lg text-gray" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div style="text-align: center;">
    体が跡形もなく飛び散った
  </div>
</div>
