<div class="devil_fruit_image text-lg text-gray font-devil" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="text-lg" style="display: flex; flex-direction: column; align-items: center;">
    <div class="pb-20" style="text-align: center;">体が跡形もなく飛び散った</div>
    <%= link_to "最初からやり直す", devil_fruits_path, class: 'link link-accent pb-10' %>
  </div>
</div>
