<% breadcrumb :dog %>
<div class="dog_image items-center justify-center text-center">
  <div class="font-dog text-accent text-4xl pt-32 pb-16">わんわんルーレット</div>
  <div class="mx-auto flex flex-wrap justify-center pb-5">
    <div class="card w-96 dog_post_image m-3">
      <figure class="p-4"><%= image_tag @dog_image_url%></figure>
    </div>
  </div>
  <button class="btn btn-accent text-white font-dog mb-44" id="reloadButton" onclick="reloadPage()">再抽選</button>
</div>
<script>
function reloadPage() {
  location.reload();
}
</script>
