<div class="search">
    <%= form_tag(movies_path, method: :get) do %>
        <%= search_field_tag :looking_for, nil, placeholder: 'Movie Title...' , :size => "40*40" %>
        <%= submit_tag 'search' %>
    <% end %>
</div>
<section class="main_image items-center justify-center text-center">
  <div class="container mx-auto">
    <div class="flex flex-wrap justify-center pb-20">
      <div class="movies-container">
        <% if @movies.present? %>
          <% @movies.each do |movie| %>
            <% if movie['title'].present? && movie['poster_path'].present? && movie['release_date'].present? && movie['overview'].present? %>
              <ul>
                <%= render partial: 'movie', locals: { movie: movie } %>
              </ul>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
