<% breadcrumb :shogun %>
<div class="bg-shogun text-neutral font-shogun items-center justify-center text-center">
  <div class="text-4xl py-20">天下の大将軍診断</div>
  <ul class="text-2xl">
    <li class="pb-2">診断したい顔が写っている画像を選択してください</li>
    <li class="pb-2">天下の大将軍かどうか診断します</li>
    <li class="pb-2">比較画像は「共に中華を目指しましょう」で検索してください</li>
    <li class="pb-2">顔が複数写っている画像はエラーになります</li>
    <li class="pb-2">使用できる画像は「jpg」「jpeg」「png」「gif」です</li>
    <li class="pb-20">画像は保存されませんのでご安心ください</li>
  </ul>
  <%= form_with(url: scoring_shoguns_path, local: false, multipart: true) do |f| %>
    <div class="pb-20">
      <%= f.file_field 'image', accept: '.jpg, .jpeg, .png, .gif', class:"file-input file-input-bordered file-input-error w-full max-w-xs"%>
    </div>
    <div>
      <%= f.submit '診断', class: "text-2xl btn btn-neutral mb-20" %>
    </div>
  <% end %>
</div>
