<div class="top_image items-center justify-center text-center">
  <div class="pt-36 pb-36 text-4xl font-title animate-fade-in">くまらぼへようこそ</div>
  <div class="text-3xl pb-36 font-zoo link link-primary"><%= link_to "ZooMania", top_zoos_path %></div>
  <div class="text-3xl pb-36 font-devil link link-accent"><%= link_to "DevilFruitApp", devil_fruits_path %></div>
</div>
