<div class="top_image items-center justify-center text-center">
  <div class="pt-40 pb-20 text-5xl font-title animate-fade-in">くまらぼへようこそ</div>
  <div class="text-3xl pt-32 pb-96 font-title link"><%= link_to "DevilFruitApp", devil_fruits_path %></div>
</div>
