<div class="star_image text-white font-title text-xl items-center justify-center text-center">
  <% flash.each do |message_type, message| %>
    <div class="pb-5"><%= message %></div>
  <% end %>
</div>
